/* DataGrid control */

@import "variables.less";
@import "mixins.less";

.data-grid {
    .table-responsive {
        min-height: 400px;
        max-height: 600px;
    }
    
    .table-toolbar {
        margin: 0 0 15px;
    }

    .table-footer {
    }

    table {
        width: auto;
        margin-bottom: 0px;
    }

    thead th > div > div {
        cursor: pointer;
    }

    &,
    td,
    .form-control {
        font-size: 14px !important;
    }

    td, th {
        .boolean-content {
            text-align: center;
        }
    }

    td {
        .text-overflow();
        width: 150px;
        max-width: 150px;

        .field-content {
            padding: 5px 0 2px;
            display: block;
            .text-overflow();
        }

        .form-control {
            height: 35px;

            &.form-checkbox {
                margin: 9px auto 0;
                height: 26px;
                width: 20px;
            }
        }

        .boolean-editor {
            text-align: center;
        }

    }
        
    tbody tr.active>td {
        background-color: @bg-datagrid-active;
    }
}

.data-grid-sorter {
    margin-right: 5px;
}
